# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/data-collector/node_modules
/data-collector/.env*
/logs


# local env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts
